[core]
	excludesfile = ~/.gitignore
[push]
	default = current
[diff]
	tool = diffmerge
[difftool "vimdiff"]
	path = bin/vimdiff
[difftool]
	prompt = false
[mergetool]
	prompt = false
[merge]
	tool = diffmerge
[alias]
	commit-undo = reset --soft HEAD^
[include]
	file = .gitconfig.work
[user]
	name = Mike Burr
	email = mburr@unintuitive.org
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
