*~
.DS_Store
.netrwhist
*.swp
virtualenv/bin/python
*.pyc
*.pyo
.vim/bundle/*
.ipython/README
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/README
.config/pudb/saved-breakpoints*
.vim/logs/*.log
.ipython/profile_default/log
.ipython/profile_default/pid
tags
ctags
BUILDTIME
/dist/
/*.egg-info/
.figleaf
/trash/
.ipython/profile_default/static
trash/
/.ropeproject/

*.swm
*.swn
*.swo

